#bottom-text {
    position: absolute;
    top: 500px;
    bottom: 20px;
    color: red;
    background-color: greenyellow;
}

#upper-text {
    position: sticky;
    top: 10px;
    bottom: 20px;
    color: orange;
    background-color: aqua;

}

#pudelko {
    height: 50px;
    width: 100px;
    background-color: yellow;
    margin: 100px;
    padding: 50px;
    border: 30px solid yellow;
  }

